.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border-radius: 6px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    font-size: 12px;
}



/***************/
/*  BAR CHART  */
/***************/

.y-axis {
    font-size: 12px;
}

.y-axis path {
    display: none;
}